body {
  height: 100vh;
  width: 100%; 
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #222;
}

header {
  height: 48px;
  width: 100%;
  padding: 6px;
  margin-right: 6px;
  box-sizing: border-box;
}

.menu-bar {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  padding: 0px;
  font-size: 13px;
}

ul {
  display: flex;
  vertical-align: middle;
  height: 48px;
  padding: 0 4px;
  margin: 0;
  list-style-type: none;
}


li a:hover {
  text-decoration: underline;
}

li a {
  display: inline-block;
  padding-top: 12px;
  text-decoration: none;
  text-align: center;
  color: #222
}

.menu {
  height: 24px;
  color: #222;
}

.menu:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 0.5em #dadce0;
}

.avatar {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

img.avatar:hover {
  box-shadow: 0 0 0 0.5em #dadce0;
  border-radius: 50%;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
}

.logo-container {
  max-height: 92px;
  margin-top: auto;
}

.logo {
  width: 272px;
}

.search {
  max-height: 160px;
  flex: 1;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.search-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 18px;
  max-width: 584px;
}

.search-container:hover {
  box-shadow: 0px 1.7px 5px #dfdfdf;;
  border-radius: 30px;
  outline: none;
}

.search-icon {
  position: absolute;
	width: 20px;
	opacity: .4;
	top: 13px;
	left: 14px;
}

.search-field {
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  padding: 13px;
  padding-left: 45px;
  padding-right: 60px;
  border-radius: 30px;
  outline: none;
}

.vs-icon {
  position: absolute;
  width: 14px;
	top: 13px;
	right: 24px;
  cursor: pointer;
}

button {
  height: 36px;
  min-width: 54px;
  margin: 11px 4px;
  padding: 9px 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
}

button:hover {
	border: 1px solid #dadce0;
}

div p {
  margin-bottom: 24px;
  text-align: center;
}

p a {
  color: #1a0dab;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  font-size: 15px;
  color: #70757a;
}

.row1 {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 14px;
}

.comp-dets li,
.tsncs li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comp-dets a,
.tsncs a {
  padding: 15px;
  color: #70757a;
}

@media only screen and (max-width: 1200px) {
  .row2,
  .comp-dets li,
  .tsncs li {
    justify-content: space-evenly;
  } }